# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

#local files
research_paper.md
.pdf